
#app {
  margin: 0 5%  ;
}

.todo-form {
  button {
    margin-top: 1rem;
  }
}

.todo-row {
  // .todo{
  //   width: 350px;
  // }
}

.status {
  width: 350px;
}

.delete {
  background-color: red;
}
